@page "/counter"
@attribute [Authorize]
@using Session5.Data;
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ApplicationDbContext context

<h3>Usuario Actual</h3>
<h3>@usr.Nombre</h3>
<h3>@usr.Apellido</h3>
<img src="@usr.Foto" alt="Picture" />



@code {
    Usuario usr;
    Manager mgr;
    protected override async Task OnInitializedAsync()
    {

        await GetClaimsPrincipalData();

    }


    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            usr = (from c in context.Users
                   where c.UserName == user.Identity.Name
                   select c).FirstOrDefault();
        }
    }

}